@import '~react-big-calendar/lib/sass/styles';

.zermeloEvent {
    background-color: "#E9EAF6";
    color: 'black';
    border: "1px solid white";
    border-left: "4px solid rgb(98, 100, 167)";
    border-radius: "4px";
};
   
     